.footer
  //- a(href="javascript:;")
  //-   span Concat me on email: zzxxcclloopp@gmail.com
  //- a(href="zzxxcclloopp@gmail.com")  CaiCai 
  //- span &
  //- a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  //- .by_farbox
  //-   a(href="https://hexo.io/zh-cn/", target="_blank") Proudly published with Hexo&#65281;
